<div class="d-flex flex-column min-vh-100">
  <nav class="navbar bg-primary">
    <div class="container h-100">
      <h3>{{ title }}</h3>

      <div>
        <a routerLink="" class="btn btn-light me-2">Orders</a>
        <a routerLink="/inventory"  class="btn btn-light">Inventory</a>
        
      </div>
    </div>
  </nav>

  <main class="flex-grow-1">
   <!-- <app-list-products></app-list-products>-->
    <router-outlet/>
  </main>

  <footer class="mt-auto">
    This project was made by John Agboola
  </footer>
</div>

