
  <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">

    <div class="mb-3">
      <label for="product-label" class="form-label">Product</label>
      <select class="form-control" formControlName="inventoryId" id="product-select">
        <option value="">Select a product</option>
        <option *ngFor="let product of products$ | async" [value]="product.id">
          {{ product.name }}
        </option>
      </select>
    </div>

    
    <div class="mb-3">
      <label for="price-label" class="form-label">Price</label>
      <input type="number"
             formControlName="price"
             class="form-control"
             id="price-input"
             readonly
             placeholder="Auto-filled price" />
    </div>
  
    <div class="mb-3">
      <label for="qtd-label" class="form-label">Quantity</label>
      <input type="number"
             formControlName="stock"
             class="form-control"
             id="qtd-input"
             [attr.min]="minQuantity"
             [attr.max]="maxQuantity"
             placeholder="Enter quantity" />
    </div>
  
  
    <div class="mb-3">
      <strong>Total: ₦{{ totalPrice.toFixed(2) }}</strong>
    </div>
  
    <button type="submit" [disabled]="!orderForm.valid" class="btn btn-primary">
      Submit
    </button>
  </form>
  